// Style for button and pseudo button for input and link

.btn {
	font-family: $main_font_family;
	padding: 0.8em 1.3em;
	border: none;
	outline: none;
	display: inline-block;
	text-align: center;
	max-width: 100%;
	cursor: pointer;
	border-radius: 0.375em;
	transition: 0.3s;
	transition-property: background, border, color, box-shadow;
	text-decoration: none;
	box-shadow: 0 0.313rem 1rem 0.063rem rgba(27, 142, 196, 0.48);
	background-color: #1b8ec4;
	color: #fefefe;
	font-size: 1em;
	// font-weight: 400;
	font-weight: 600;

	&:hover {
		background-color: #3dade1;
		color: #fefefe;
		text-decoration: none;
	}

	&:active {
		box-shadow: none;
		background-color: #3dade1;
		color: #fefefe;
	}
	@each $status_el, $color_bg in $el_colors {
		&_#{$status_el} {
			background-color: $color_bg;
			border-color: $color_bg;
			color: $btn_contrast_text_color;

			&:hover {
				background-color: lighten($color_bg, 7%);
				color: $btn_contrast_text_color;
			}

			&:active {
				background-color: darken($color_bg, 10%);
				color: $btn_contrast_text_color;
			}
		}
	}

	&_border {
		padding: 0.9em 1.1em;
		border-radius: 0.375em;
		border: 0.125em solid #279cd5;
		background-color: transparent;
		color: #279cd5;
		font-weight: 800;
		box-shadow: none;

		&:hover {
			background-color: #279cd5;
			color: $color_withe;
		}
	}
}
