/* Header
 ----------------------------------------------------------------------------- */
.header {
	background-color: $color_withe;
	padding: 0.8em 0 0;

	@media (min-width: 768px) {
		padding: 1.2rem 0 0;
	}

	&__content {
		max-width: $container_width;
		padding-left: 1rem;
		padding-right: 1rem;
		margin: auto;
	}

	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 1.3em;
	}

	&__left {
		@media (max-width: 767px) {
			padding-left: 3.6em;
			max-width: 11em;
		}
	}

	&__right {
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}

	&__bottom {

		@media (min-width: 768px) {
			margin-bottom: -1.8em;
			position: relative;
		}
	}
}

// stiky menu
.stiky {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}
