// Social link

.soc {
	// float: left;
	display: flex;

	a {
		// display: inline-block;
		// width: 30px;
		// height: 30px;
		// border-radius: 50%;
		// background-color: #000;
		text-align: center;
		text-decoration: none;
		transition: color 0.3s;
		font-size: 1.9em;
		margin-right: 0.4em;
		color: #279cd5;
		text-decoration: none;
		// @include trs(0.3s);

		&:hover {
			// opacity: 0.8;
			color: $color_withe;
		}
		// &:before {
		// 	content: 'soc';
		// 	color: #fff;
		// 	text-decoration: none;
		// }
	}
}
