extends layout.pug

block content
    .pageTop.pageTop_home
        .container_center
            // begin fScreen
            .fScreen
                .fScreen__left
                    h1.fScreen__title Сервис, ремонт <br>и продажа септиков
                    .fScreen__sub команда профессионалов, готовых помочь в решении Ваших вопросах связанных с канализацией в загородном доме, даче, коттедже.
                    .fScreen__form
                        form.form(action="#")
                            .form__row.form__row_inline
                                input(type="tel", placeholder="Ваш номер телефона")
                                button.btn.btn_primary(type="submit") Вызов мастера
                    .fScreen__info.desktop
                        .fScreen__item
                            .fScreen__icon
                                img(src="img/like.png", alt="")
                            .fScreen__name Экспертный персонал
                        .fScreen__item
                            .fScreen__icon
                                img(src="img/speed.png", alt="")
                            .fScreen__name Высокая скорость работы
                        .fScreen__item
                            .fScreen__icon
                                img(src="img/gears.png", alt="")
                            .fScreen__name Ремонт любой сложности

                .fScreen__right.desktop
                    img(src="img/man.png", alt="alt")
            // end fScreen

    .container_center
        // begin infoBoxes
        .infoBoxes
            .infoBoxes__item
                a.infoBoxes__wrap(href="#")
                    span.infoBoxes__icon
                        i.icon_cogwheel
                    span.infoBoxes__name Обслуживание септиков
            .infoBoxes__item
                a.infoBoxes__wrap(href="#")
                    span.infoBoxes__icon
                        i.icon_pump
                    span.infoBoxes__name Чистка септиков
            .infoBoxes__item
                a.infoBoxes__wrap(href="#")
                    span.infoBoxes__icon
                        i.icon_support
                    span.infoBoxes__name Ремонт септиков
            .infoBoxes__item
                a.infoBoxes__wrap(href="#")
                    span.infoBoxes__icon
                        i.icon_soldering
                    span.infoBoxes__name Пайка септиков
            .infoBoxes__item
                a.infoBoxes__wrap(href="#")
                    span.infoBoxes__icon
                        i.icon_resize
                    span.infoBoxes__name Наращивание септиков

        // end infoBoxes

        h2.subtitle.subtitle_center Продажа оборудования

        // begin equipmentSales
        .equipmentSales
            .equipmentSales__item
                a.equipmentSales__wrap(href="#")
                    span.equipmentSales__img
                        img(src="img/eqi-1.png", alt="")
                    span.equipmentSales__title Компрессора HIBLOW
                    span.equipmentSales__more Подробнее

            .equipmentSales__item
                a.equipmentSales__wrap(href="#")
                    span.equipmentSales__img
                        img(src="img/eqi-5.png", alt="")
                    span.equipmentSales__title Блоки управления
                    span.equipmentSales__more Подробнее

            .equipmentSales__item
                a.equipmentSales__wrap(href="#")
                    span.equipmentSales__img
                        img(src="img/eqi-2.png", alt="")
                    span.equipmentSales__title Насосы для септиков
                    span.equipmentSales__more Подробнее
            .equipmentSales__item
                a.equipmentSales__wrap(href="#")
                    span.equipmentSales__img
                        img(src="img/eqi-3.png", alt="")
                    span.equipmentSales__title Электромагнитные клапана
                    span.equipmentSales__more Подробнее
            .equipmentSales__item
                a.equipmentSales__wrap(href="#")
                    span.equipmentSales__img.equipmentSales__img_full
                        img(src="img/eqi-4.png", alt="")
                    span.equipmentSales__title Пластик для наращивания септика
                    span.equipmentSales__more Подробнее
            .equipmentSlider
                each slide in ['', '', '', '',]
                    .equipmentSlider__item
                        .equipmentSlider__img
                            img(src="img/eqi-slide.png", alt="alt")
                            .equipmentSlider__price 24 000 ₽
                        .equipmentSlider__title Компрессор для септика HIBLOW HP-100
                        .equipmentSlider__text
                            p Компрессор (воздушный насос) HIBLOW HP-100 производительностью от 100 л/мин при давлении 147 мбар (14,7 кПа).
                            span Применяется также для подачи воздуха в:
                            ul.list
                                li системы биологической очистки, септики;
                                li локальные очистные сооружения (ЛОС);
                                li системы глубокой очистки;
                        .equipmentSlider__more
                            a.btn.btn_primary(href="#") Узнать больше

        // end equipmentSales


        // begin gallery
        .gallery
            .gallery__slide
                .gallery__item
                    .gallery__img(style="background-image: url(img/gallery-1.jpg)")
                    .gallery__name Монтаж ТОПАС-100, Московская область
                .gallery__item.gallery__item_half
                    .gallery__img(style="background-image: url(img/gallery-2.jpg)")
                    .gallery__name Восстановление септика
                .gallery__item.gallery__item_half
                    .gallery__img(style="background-image: url(img/gallery-3.jpg)")
                    .gallery__name Перенос септика ТОПАС-5
                .gallery__item
                    .gallery__img(style="background-image: url(img/gallery-4.jpg)")
                    .gallery__name Монтаж ТОПАС-100, Московская область

            .gallery__descr
                .gallery__title SERVICE-SEPTIC
                    span .RU
                p
                    b команда профессионалов, готовых помочь в решении Ваших вопросах связанных с канализацией в загородном доме, даче, коттедже.

                span
                    b Услуги которые мы предоставляем: 
                ul
                    li обслуживание септиков;
                    li ремонт септиков;
                    li наращивание горловин;
                    li монтаж канализации под ключ;
                    li запчасти(продажа и замена);
                    li модернизация станций.

                span
                    b Работаем с большинством современных станций очистки:
                    ul
                        li «ТОПАС», «ТОПАЭРО», «ТОПАС-С» компании ТОПОЛ-ЭКО
                        li «АСТРА» компании ЮНИЛОС
                        li «ЕВРОБИОН»
                        li «БИОКСИ»
                        li «ЕВРОЛОС-БИО», «ЕВРОЛОС-ГРУНТ»
                        li «ДЕКА», «БИОДЕКА»
                        li «ТОПОЛЬ» компании ЭКО-ГРАНД

                p
                    b Заказать любую из этих услуг или получить консультацию <br>
                    |в Москве и Московской области можно по телефону 8(499)444-21-96 или оставить заявку на сайте и мы Вам перезвоним.
                .gallery__action
                    a.btn.btn_border(href="#") Галерея наших работ

        // end gallery

    // begin consutation
    .consutation
        .container_center
            h2.subtitle.subtitle_center Хотите проконсультироваться с нашим специалистом?
            .consutation_sub оставьте заявку прямо сейчас и получите скидку  
                span 15%

            form.form(action="#")
                .form__row.form__row_inline
                    input(type="tel", placeholder="Ваш номер телефона")
                    button.btn.btn_primary(type="submit") Вызов мастера


    // end consutation

    // begin postsList
    .posts
        .container_center
            h2.subtitle.subtitle_center Статьи
            .postsList
                a.postsList__item(href="#") Как работают препараты для очистки септиков
                a.postsList__item(href="#") Куда сливать воду из септика
                a.postsList__item(href="#") Септик для высокого уровня грунтовых вод
                a.postsList__item(href="#") Отличие септика от автономной канализации
            .postsList__more
                a.btn.btn_border(href="#") Больше статей


    // end postsList
